/* Fonts */

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
  url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
  url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
}

/* Global */

.page {
  /* height: 100%; */
  /* border: 2px solid #ff0000; */
}

.page-body {
  min-width: 800px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-black);
  display: flex;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 46px;
  line-height: 48px;
  text-transform: uppercase;
}

h2 {
  font-size: 34px;
  line-height: 40px;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

/*** MAIN ***/

.wrapper {
  width: 800px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: gray;
}

.visually-hidden {
  display: none;
}

/* Header-menu */

.main-header {
  flex-grow: 1;
}

.navigation {
  margin: 57px 110px;
  display: flex;
  flex-direction: row-reverse;
}

.logo {
  padding-left: 25px;
}

.menu {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.menu-item {
  font-size: 12px;
  line-height: 18px;
}

/* Main container */

.main-container {
  width: 580px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid #ff00dd;
}

/* Section container head */

.container-head {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.container-head h1 {
  margin: 0;
  display: flex;
}

.container-head p {
  margin: 0;
  text-transform: uppercase;
  display: flex;
  align-self: center;
}

/* Section buy-novelty */

.buy-novelty {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buy-novelty img,
.buy-novelty h1,
.buy-novelty p {
  margin: 0 auto;
  padding: 0;
}

.buy-novelty h1 {
  padding: 20px;
}

.buy-novelty p {
  padding: 0 80px;
  line-height: 28px;
}

.button {
  width: 400px;
  margin: 30px;
  padding: 15px;
  font-size: 14px;
  text-transform: uppercase;
}

/* Section progress */

.progress {
  margin-top: 85px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.progress h3 {
  margin: 0;

}

.progress h2 {
  margin: 0;
  padding: 10px 60px;

}

.progress img {

}

.progress p {
  margin: 0;
  padding: 30px 40px;
}

/* Section assortment */

.assortment {
  margin: 80px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.assortment h3,
.assortment h1,
.assortment p {
  margin: 0;
}

.assortment h1 {
  padding: 15px 50px;
}

.assortment .description {
  padding: 5px 50px;
  line-height: 26px;
}

.cards-of-products {
  margin: 35px 0;
  padding: 0;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 270px;
  display: flex;
  flex-direction: column;
}

.left-cards {
  align-items: flex-end;

}

.right-cards {
  align-items: flex-start;
}

.type-product,
.title-product h3,
.price-product,
.card a {
  margin: 0;
  text-transform: uppercase;
}

.type-product {
  padding-top: 25px;
  font-size: 12px;
}

.title-product {
  padding-top: 10px;
  display: flex;
}

.price-product {
  padding-top: 15px;
  display: flex;
}

.card a {
  padding-top: 15px;
  text-decoration: none;
  color: #000000;
  font-size: 12px;
}

/* Section promo */

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5deb3;
  outline: 2px solid #0066ff;
}

.promo h3,
.promo h1,
.promo p {
  margin: 0;
  outline: 2px solid #0066ff;
}

.promo h3 {
  padding-top: 25px;
  font-size: 12px;
  text-transform: uppercase;
}

.promo h1 {

}

.description {
  padding: 12px 150px 10px;
  font-size: 12px;
}

.button-apply {
  width: 280px;
  padding: 20px;
  font-size: 10px;
  text-transform: uppercase;
  border-style: none;
  background-color: white;
}

.note {

}

/*** FOOTER ***/

.footer-container {
  flex-grow: 1;
  color: #ffffff;
  background-color: #000000;
}

.footer-contacts {

}

.social {

}

.social-icons {

}

.social-button {

}

.contacts {

}

.tel-number {

}

.inet-adress {

}

.footer-info {

}

.loader {

}

.loader-icons {

}

.loader-button {

}

.loader-button {

}

.info {

}
